[package]
name = "reboot-arch-btw"
version = "0.5.7"
repository = "https://github.com/rnestler/reboot-arch-btw"
license = "GPL-3.0-only"
authors = [
  "Raphael Nestler <raphael.nestler@gmail.com>",
  "Stefan Schindler <stefan@estada.ch>",
  "Danilo Bargen <mail@dbrgn.ch>",
]
description = "Check if you need to reboot due to an updated kernel. (I use Arch btw!)"
readme = "README.md"
keywords = ["i-use-arch-btw", "arch", "linux", "kernel"]
categories = ["command-line-utilities"]
include = [
    "**/*.rs",
    "Cargo.toml",
    "Cargo.lock",
    "README.md",
]
edition = "2021"

[dependencies]
alpm = "2.2.3"
clap = { version = "4.4.12", features = ["help", "usage", "error-context", "std", "derive"], default-features = false }
notify-rust = "4.10"
utmp-rs = "0.3.0"
time = "0.3.31"
log = "0.4.20"
env_logger = "0.11.0"
anyhow = "1.0.78"
